.mainContainer {
    background-color: black;
    height: 394px;
    width: 343px;
    border-radius: 16px;
    padding: 0 8px;
}
.fieldsContainer {
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: var(--highlight-color);
    height: 44px;
    font-weight: 400;
    width: 100%;
}

.loading {
    background-color: #d6d6d6;
}

.input {
    width: 100%;
    height: 44px;
    padding: 15.5px 0 15.5px 16px;
    background-color: #201c1c;
    color: white;
    border: 1px solid var(--highlight-color);
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.input::placeholder {
    color: white;
    font-weight: 700;
    opacity: 1;
}


@media (min-width: 768px) { 
    .mainContainer {
        width: 352px;
        padding: 0 16px;
    }
}
