.button {
    border: 0;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 16px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.button:disabled {
  pointer-events: none;
  cursor: default;
}

.basicButton:hover {
    background-color: var(--button-bg-hover-color);
}

.basicButton:active {
    background-color: var(--button-bg-active-color);
}

.basicButton:disabled {
    background-color: var( --highlight-active-color);
}

.highlightButton {
    color: white;
    background-color: var( --highlight-color);
}

.highlightButton:hover {
    background-color: var( --highlight-hover-color);
}

.highlightButton:active {
    background-color: var( --highlight-active-color);
}

.highlightButton:disabled {
    background-color: var( --highlight-active-color);
}