.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.title {
    font-family: var(--font-roboto-condensed);
    font-weight: 700;
    font-size: 40px;
    padding-left: 15px;
}

.sliderContainer {
    position: relative;
    width: 100%;
}

.moviesSlider {
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding-left: 16px;
    padding-right: 16px;
    gap: 24px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.moviesSlider::-webkit-scrollbar {
    display: none;
}

.arrowButton {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 0.7;
}

.arrowButton:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
}

.arrowButton svg {
    width: 30px;
    height: 30px;
    color: white;
}

.arrowLeft {
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transform: rotate(180deg);
}

.arrowRight {
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.noData {
    background-color: var(--skeleton-color);
    color: var(---text-color);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalNoData {
    height: 386px;
    min-width: 261px;
}

.horizontalNoData {
    height: 260px;
    min-width: 400px;
}

@media (min-width: 768px) { 
    .title {
        font-size: 60px;
    }

    .title, .moviesSlider {
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .arrowButton {
        display: block;
        width: 80px;
    }
}

@media (min-width: 1440px) {
    .title {
        font-size: 78px;
    }
    .title, .moviesSlider {
        padding-left: 120px;
        padding-right: 120px;
    }
    
    .arrowButton {
        width: 100px;
    }
}

@media (min-width: 1660px) {
    .title, .moviesSlider {
        padding-left: 130px;
        padding-right: 130px;
    }
}